.blink {
  animation: blink 0.75s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

a[rel="copyright"] {
  color: inherit;
  text-decoration: none;
}
